@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212529;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  display: inline-block;
  animation: blink 1s infinite;
  color: #e684ae;
}

/* Animation for the gradient border rundt omkring profilbilledet på About.tsx side */
.animated-gradient-border {
  position: relative;
  display: inline-block;
  border-radius: 17px; /* Juster efter behov */
  border: 5px solid transparent; /* Gennemsigtig kant */
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle), #77a1d3, #79cbca, #e684ae) border-box;
  animation: rotate 8s linear infinite; /* Animation for rotation */
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}